<div class="col-md-6 col-md-offset-3">
    <h1>Home</h1>
    <p>You're logged in with JWT!!</p>
    <div>
        Users from secure api end point:
        <ul>
            <li *ngIf="user">{{user.firstName}} {{user.lastName}}</li>
        </ul>
        <a [routerLink]="['/sample/new']" class="btn btn-link">Add sample</a>
        <p>Samples:</p>
        <ul>
        <li *ngFor="let sample of samples">
            <a [routerLink]="['/sample/browse', sample.id]" class="btn btn-link"> Id: {{sample.id}}</a>
        </li>
      </ul>
    </div>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>